.section-banner-home {
  background-color: #0f0f0f;
  color: #fff;
  padding-top: 2.4rem;
  padding-bottom: 4.8rem;
}

.banner-home-container {
  min-width: 70rem;
  width: 90vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.8rem;
  justify-content: center;
}

.first-line,
.last-line {
  color: #919191;
}

.last-line {
  color: #919191;
  justify-self: end;
}

.banner-home-container h1 {
  font-size: 3.6rem;
}

.overlay {
  /* background-image: linear-gradient(to right, #fff, #36bbca); */
  background-image: url(../src/images/index-images/overlay.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -30% 45%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-simple-animation-rev 0.8s ease-out;
}

@keyframes text-simple-animation-rev {
  0% {
    background-size: 0%;
  }
  25% {
    background-size: 25%;
  }
  50% {
    background-size: 50%;
  }
  100% {
    background-size: 100%;
  }
}

.case-study-link {
  font-weight: 700;
  color: #1234e6;
  margin-top: 0.9rem;
}

.flex-column {
  gap: 1.6rem;
}

.project-heading {
  font-weight: 300;
  margin-bottom: 0;
}

.img-container {
  display: flex;
  gap: 1.6rem;
}

.grid-ux {
  display: grid;
  gap: 4.8rem;
}

.asel-laptop-img,
.asel-mobile-img {
  filter: drop-shadow(5px 7px #391cb0);
  transition: all 0.3s ease-in;
}
.chess-laptop-img,
.chess-mobile-img {
  filter: drop-shadow(5px 7px #3b730d);
  transition: all 0.3s ease-in;
}
.beep-n-bop-img {
  filter: drop-shadow(5px 7px #3d00d8);
  transition: all 0.3s ease-in;
}

.asel-laptop-img:hover,
.asel-mobile-img:hover,
.beep-n-bop-img:hover {
  filter: drop-shadow(1rem 1.4rem #391cb0);
}

.chess-laptop-img:hover,
.chess-mobile-img:hover {
  filter: drop-shadow(1rem 1.4rem #3b730d);
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  /* .grid-ux {
    grid-template-columns: 55fr 45fr;
  } */
  .img-container {
  }
  .asel-laptop-img,
  .asel-mobile-img,
  .chess-laptop-img,
  .chess-mobile-img,
  .beep-n-bop-img {
    /* max-width: 100%;
    
    display: block; */
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* height: 100%;
    object-fit: cover; */
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  .grid-ux {
    grid-template-columns: 1fr;
    /* gap: 5.2rem; */
    grid-template-areas:
      'a'
      'b'
      'c'
      'd'
      'e'
      'f';
  }
  .img-container {
    margin: 0 auto;
  }

  .asel-project-info {
    grid-area: a;
  }

  .chess-project-info {
    grid-area: c;
  }

  .beep-project-info {
    grid-area: e;
  }
}
